*, :after, :before, html {
    box-sizing: border-box
}

a, button, input[type=submit] {
    transition: .3s ease-in-out;
}

body {
    //font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    min-height: 200vh;
}
