*, :after, :before, html {
    box-sizing: border-box
}

a, button, input[type=submit] {
    transition: .3s ease-in-out;
}

.top-bar {
    font-size: 16px;
    background: #f76a99;
    background: linear-gradient(90deg, #f76a99 0%, #4a57a6 50%, #11b9f3 100%);
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #444;
        }
    }
    i {
        line-height: 40px;
        margin-right: 5px;
    }
}
