.mission-item {
    -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
    border: 1px solid #f1f1f1;
    padding: 40px 30px 45px;
    text-align: center;
    height: 100%;
}
